@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');


.App {
  text-align: center;
  background-color: darkred;
  color: white;
}



.headerdiv {
  /* display: grid; */
  /* row-gap: -10px; */
margin-bottom: 60px;;
font-family: 'Zen Antique Soft', serif;
}

.nav {
  display: flex;
  justify-content:space-evenly;
  align-items:center; 
  background-color: darkgreen;
  height: 40px;
  font-family: 'Zen Antique Soft', serif;
  border-bottom:solid;

}

a {
text-decoration: none;
color: white;
}

button {
  width: 150px;
  height: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.buttondiv {
  display: grid;
  row-gap: 20px;
  font-family: 'Zen Antique Soft', serif;
}

.santa {
  width:600px;
}

.clothing {
  width: 300px;
  background-color: rgb(6, 55, 6);
  border: white;
  border: solid;
  border-radius: 25px;
  margin: 10px;
  font-family: 'Zen Antique Soft', serif;

}

.clothingdiv {
  margin-top: 60px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.ClothingForm {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 250px;
  background-color: rgb(6, 55, 6);
  width: 300px;
  margin: auto;
  border: dashed;
  text-align: center;
  font-family: 'Zen Antique Soft', serif;

}

.electronics {
  width: 300px;
  background-color: rgb(6, 55, 6);
  border: white;
  border: solid;
  border-radius: 25px;
  margin: 10px;
  font-family: 'Zen Antique Soft', serif;

}

.electronicsdiv {
  margin-top: 60px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.submit {
  margin-left: 45px;
}

.ElectronicsForm{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 250px;
  background-color: rgb(6, 55, 6);
  width: 300px;
  margin: auto;
  border: dashed;
  text-align: center;
  font-family: 'Zen Antique Soft', serif;
}

.other {
  width: 300px;
  background-color: rgb(6, 55, 6);
  border: white;
  border: solid;
  border-radius: 25px;
  margin: 10px;
  font-family: 'Zen Antique Soft', serif;

}

.otherdiv {
  margin-top: 70px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.OtherForm {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 250px;
  background-color: rgb(6, 55, 6);
  width: 300px;
  margin: auto;
  border: dashed;
  text-align: center;
  font-family: 'Zen Antique Soft', serif;

}

.sportinggoodsdiv{
  margin-top: 60px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.sportinggoods {
  width: 300px;
  background-color: rgb(6, 55, 6);
  border: white;
  border: solid;
  border-radius: 25px;
  margin: 10px;
  font-family: 'Zen Antique Soft', serif;

}

.SportingGoodsForm {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 250px;
  background-color: rgb(6, 55, 6);
  width: 300px;
  margin: auto;
  border: dashed;
  text-align: center;
  font-family: 'Zen Antique Soft', serif;

}

.toydiv {
  margin-top: 60px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.toy {
  width: 300px;
  background-color: rgb(6, 55, 6);
  border: white;
  border: solid;
  border-radius: 25px;
  margin: 10px;
  font-family: 'Zen Antique Soft', serif;

}

.ToysForm {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 250px;
  background-color: rgb(6, 55, 6);
  width: 300px;
  margin: auto;
  border: dashed;
  text-align: center;
  font-family: 'Zen Antique Soft', serif;

}



input {
  display: flex;
  align-items: center;
}







@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
