.App {
  text-align: center;
  background-color: darkred;
  color: white;
  /* background-image: url("https://media.istockphoto.com/photos/christmas-or-new-year-red-background-with-fir-decor-picture-id1278695666?b=1&k=20&m=1278695666&s=170667a&w=0&h=KmUzL8z89JmVUe5fwj-6cjje3wL6WMyWlTxqirctn0E="); */
  /* background-size: 85% 100%;
  background-repeat: no-repeat;
  background-position:center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.nav {
  display: flex;
  justify-content:space-evenly;
  align-items:center; 
  background-color: darkgreen;
  height: 30px;
}

.clothing {

}

.clothingdiv {
  padding-top: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.ClothingForm {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 200px;
}

.electronics {

}

.electronicsdiv {
  padding-top: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.ElectronicsForm{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 200px;
}

.other {

}

.otherdiv {
  padding-top: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.OtherForm {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 200px;
}

.sportinggoodsdiv{
 padding-top: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.sportinggoods {

}

.SportingGoodsForm {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 200px;
}

.toydiv {
  padding-top: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.toy {
  width: 300px;
  background-color: rgb(6, 55, 6);
  border: white;
  border: solid;
  border-radius: 25px;
  margin: 10px;
}

.ToysForm {
display: flex;
justify-content: center;
align-items:center;
height: 200px;
}



input {
  display: flex;
  align-items: center;
}







@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
